.user-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.user-details__figure {
	flex-basis: auto;
}
.user-details__table {
	flex-basis: 50%;
}
