@{
	ViewData["Title"] = "Home Page";
	@model List<Database.Models.UserModel>
}

<div>
	<h1>Social Network Index</h1>
	<h3>Users registred already:</h3>
	<ul>
		@{
			foreach (var u in Model)
			{
				@: <li>@u.Name</li>
			}
		}
	</ul>
</div>
