@{
	ViewData["Title"] = "Home Page";
	@model SocialNetwork.ViewModels.UserProfileViewModel
}
@section Styles {
	<link rel="stylesheet" href="~/css/user-details/user-details.css" />
	}

<div>
	<h1>My profile</h1>
	@await Html.PartialAsync("UserDetails", Model)
</div>
