@model SocialNetwork.ViewModels.UserProfileViewModel

@section Styles {
	<link rel="stylesheet" href="~/css/messages/messages.css" />
	
}

@{
	ViewData["Title"] = "UserProfile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>UserProfile</h2>

<figure class="user-avatar">
	<div class="glyphicon-user"> </div>
</figure>

<section class="user-description">
	@await Html.PartialAsync("UserDetails", Model);

	<div>
		@if (Model.IsFriend)
		{
			<span class="infoblock__title">You are friends</span>
		}
		else
		{
			<a class="btn btn-default" asp-controller="Friendships" asp-action="NewFriendship" asp-route-id="@Model.ID">
				Add to Friends
			</a>
		}

	</div>

</section>


