@model List<SocialNetwork.ViewModels.FriendshipViewModel>
@{
	ViewData["Title"] = "Index";
	int myId = (int)ViewData["MyID"];
	int friendId = 0;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends</h2>
<a asp-controller="Friendships" asp-action="GetPeople">Find people</a> 
<table class="table">
	@for (int i = 0; i < Model.Count; i++)
	{

		@if (Model[i].MeID == myId)
		{
			<tr>
				<td>
					@Model[i].Friend
				</td>
				<td>
					<a class="btn btn-default" asp-controller="UserDialogs" asp-action="NewDialog" asp-route-userId="@Model[i].FriendId">
						Dialog
					</a>
					<a class="btn btn-danger" asp-controller="Friendships" asp-action="RemoveFriend">
						Remove
					</a>
				</td>
				</tr>
				}
				else
				{
			<tr>
				<td>
					@Model[i].Me
				</td>
				<td>
					<a class="btn btn-default" asp-controller="UserDialogs" asp-action="NewDialog" asp-route-userId="@Model[i].MeID">
						Dialog
					</a>
					<a class="btn btn-danger" asp-controller="Friendships" asp-action="RemoveFriend">
						Remove
					</a>
				</td>
			</tr>
				}
			
		}
	</table>

